.cardsComponent{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 300px!important;
    margin: -5% 10% 5%;
}

@media screen and (max-width: 750px) {
    .cardsComponent{
        flex-direction: column;
        margin: 45% 15% 5%;
    }
}